/* You can add global styles to this file, and also import other style files */
/* width */
@import "~@ng-select/ng-select/themes/default.theme.css";

.ng-select.ng-select-multiple
  .ng-select-container
  .ng-value-container
  .ng-value {
  font-size: 0.9em;
  margin-bottom: 5px;
  color: #fff;
  background-color: #ff7900 !important;
  border-radius: 2px;
  margin-right: 5px;
}

body {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  font-weight: 600;
  margin: 0px;
  width: 100%;
  overflow:auto !important;
}
